html {
  height: 100%;
}
html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}
.center_h1 {
  display: inline-block;
  font-family: "Open Sans";
  text-decoration: none;
}
.center_h1 a {
  text-decoration: none;
}
.bgimg {
  background-image: url("img.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.head-icon {
  width: 72px;
  height: 72px;
  background-image: url("img/heads2.png");
}

.bg-story-color {
  background-color: #182c44;
}

.player-name {
  display: block;
  font-size: 1.5rem;
  color: white;
}

.player-guild {
  display: block;
  font-size: 1.1rem;
  color: white;
}

.player-kills {
  color: white;
  font-size: 2rem;
  display: block;
  text-align: center;
}

.position {
  display: block;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.rank {
  width: 72px;
  height: 72px;
}

.bg-derion {
  background-image: url("img/derion.png");
  background-size: cover;
}

@media (min-width: 1200px) {
  .container {
    max-width: 780px;
  }
}
